/*Global Settings*/
html {
font-size: 8px;
color: #61666b;
font-family: "Istok Web", sans-serif;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
  color: #0d1a26;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Header Section*/
header {
  font-size: 3.5rem;
  width: 95%;
  padding: 2.5rem 4rem;
  align-self: center;
}

header img {
  height: 6rem;
}

header nav a {
  font-size: 2.5rem;
  color: #5c6670;
  margin-left: 2rem;
}

/*banner section*/

.banner {
  background-color: whitesmoke;
  padding: 3rem 4rem;
}

.banner img {
  width: 60%;
}

.feature-content {

  width: 40%;
  margin-left: 3rem;
}

.feature-content h1 {
  font-weight: bold;
  font-size: 8rem;
  color: #666666;
  margin: 2rem;
}

.feature-content h2 {
  font-size: 4rem;
  color: #666666;
  margin: 2rem;
}

.feature-content h3 {
  align-self:stretch;
  font-size: 3rem;
  color: white;
  padding: 2rem;
  text-align: center;
  background-color: #666666;
  margin: 2rem;
}
