/*Global Settings*/
html {
font-size: 8px;
color: #777777;
font-family: "Helvetica", sans-serif;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
  color: 	#505050;
}

h1,
h2,
h3,
h4 {
  color: #505050;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*Header Section*/
header {
  font-size: 3.5rem;
  width: 95%;
  padding: 2.5rem 4rem;
  align-self: center;
}

header img {
  height: 6rem;
}

header figcaption {
  color: 	#B8B8B8;
}

header nav a {
  font-size: 2.5rem;
  color: #777777;
  margin-left: 2rem;
}

/*banner section*/

.banner {
  background-color: whitesmoke;
  padding: 5rem 4rem;
}

.banner img {
  width: 60%;
}

.feature-content {
  width: 40%;
  margin-left: 3rem;
}

.feature-content h1 {
  font-weight: bold;
  font-size: 7rem;
  margin: 2rem;
}

.feature-content h2 {
  font-size: 4rem;
  margin: 2rem;
}

.feature-content h3 {
  align-self:stretch;
  font-size: 3rem;
  color: white;
  padding: 2rem;
  text-align: center;
  background-color: #505050;
  margin: 2rem;
}

/*Information section*/
.feature-article {
  padding: 5rem 4rem;
  justify-content: center;
  align-self: flex-start;
  width: 60%;
  border-right: 2px solid whitesmoke;
}

.feature-article img {
  width: 100%;
}

.feature-article h1 {
  font-size: 6rem;
  font-weight: bold;
  margin: 3rem 0;
}

.feature-article p {
  line-height: 3rem;
  font-size: 2.3rem;
  margin-bottom: 4rem;
}

.feature-article .caption {
  color: #505050;
  font-size: 2.2rem;
}

.side-articles {
  width: 40%;
  align-self: flex-start;
  margin: 2.2rem 2rem 2.2rem 0;

}

.side-article {
  padding: 3rem;
  border-bottom: 2px solid whitesmoke;
  justify-content: flex-start;
}

#grey {
  background-color: whitesmoke;
}

.side-article img {
  width: 35%;
}

.side-article-content {
  margin-left: 2rem;
  line-height: 3rem;
}

.side-article h2 {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.side-article p {
  font-size: 2.3rem;
  margin-bottom: 2rem;
}

.side-article a {
  font-size: 2rem;
}
